{{ define "main" }}
	<main>
		{{ $title := printf "%s" .Title }}

		{{ if or .Title .Content }}
		<div>
			{{ if ( eq $title "Tags" )}}
				{{ with .Title }}<h1 id="tag_h1">{{ . }}</h1>{{ end }}
			{{ else }}
				{{ with .Title }}<h1 id="tag_h1">#{{ . }}</h1>{{ end }}
			{{ end }}
			{{ with .Content }}<div>{{ . }}</div>{{ end }}
		</div>
		{{ end }}

		
		{{ if ( eq $title "Tags" )}}
			<div class="tag-container">
				{{ $tagsWithCount := slice }}
				{{ range $tagName, $tagPages := .Site.Taxonomies.tags }}
					{{ $tagsWithCount = $tagsWithCount | append (dict "name" $tagName "count" $tagPages.Count) }}
				{{ end }}

				{{ $sortedTags := sort $tagsWithCount "count" "desc" }}
				{{ range $tag := $sortedTags }}
					<a class="tag-item" href="{{ `tags/` | relLangURL }}{{ $tag.name | urlize }}">{{ $tag.name }} ({{ $tag.count }})</a>
				{{ end }}
			</div>				
		{{ else }}
			{{ range .Paginator.Pages }}
				{{ .Render "summary" }}
			{{ end }}
			{{ partial "pagination.html" . }}
		{{ end }}
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
