{{ define "main" }}
<main>
	<article>
		<h1>{{ .Title }}</h1>
		{{ if ne .Params.Type "special"}}
			<div class="article-info">
			<p class="reading-time"><b>Reading time</b> {{ .ReadingTime }} {{ if eq .ReadingTime 1 }} minute {{ else }} minutes {{ end }}</p>
			{{ if .Params.Author }}
			<p class="author"><b>Author</b> {{ .Params.Author }}</p>
			{{ end }}

			<time datetime="{{ .Date.Format " 2006-01-02T15:04:05" }}"><b>Posted</b> {{ .Date.Format "2006-01-02" }}</time>

			{{ if .Lastmod }}
				{{ if ne .Lastmod .Date }}
					<time datetime="{{ .Lastmod.Format " 2006-01-02T15:04:05" }}"><b>Updated</b> {{ .Lastmod.Format "2006-01-02" }}</time>
				{{ end }}
			{{ end }}
			</div>
		{{ end }}

		{{ if .Params.tags }}
		<div class="tags-div">
			{{ range .Params.tags }}
			<a class="tags" href="{{ "tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a>
			{{ end }}
			{{ end }}
		</div>
		<div>
			{{ .Content }}
		</div>
		{{ with .Site.DisqusShortname }}
		<div>
			{{ template "_internal/disqus.html" . }}
		</div>
		{{ end }}
	</article>
</main>
{{ partial "sidebar.html" . }}
{{ end }}